body {
    font-family: 'Cinzel', Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 400px;
    margin: 150px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }
  
  h1 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
    margin-right: 20px;
    
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  h1 {
    font-family: 'Cinzel', Arial, sans-serif;
  }
  
  input[type="text"],
  input[type="password"] {
    font-family: 'Cinzel', Arial, sans-serif;
  }
  
  /* Rest of your CSS styles */
  